##############################
## Folders                  ##
##############################
target

##############################
## Netbeans conf            ##
##############################
concurrentLearning.iml